.collections-preview--collection-wrapper {
  margin-top: 20px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid #c6c6c6;
}

.collections-preview--collection-wrapper a {
  background-color: #0a001f;
  color: white;
  display: inline-block;
  margin: 20px 0;
}

.collections-preview--collection-wrapper a:hover {
  background-color: #808285;
  color: white;
}
